/* Estilos Gerais */
* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
}

.background-image {
  background-image: url("../img/fundotorto.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

/* Estilos do Navbar */

#navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000040;
  box-sizing: border-box;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

#navbar li {
  list-style: none;
  margin: 0 20px;
}

#navbar li img {
  display: flex;
  height: 40px;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo-container img {
  height: 60px;
}

/* Primeira pagina */
#tela-inicial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#men-img {
  width: 555px;
}

#men-img img {
  max-width: 100%;
  height: auto;
}

/* Sobre nós */

#sobre-nos {
  display: flex;
}

#strong-points-container {
  background-color: #402562;
}

/* Suporte */

#suporte {
  background-color: #b8b8b8;
  padding: 30px 15px;
}

#suporte ul {
  margin: 15px;
  list-style: none;
}

#suporte ul li {
  background-color: #fff;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 20px;
}

/* Ajuda */
#ajuda {
  background-color: #fff;
  padding: 10px 50px;
}

#ajuda-container {
  background-color: #402562;
  border-radius: 20px;
}

.ansewer-container {
  background-color: #fff;
}

#ajuda-container ol {
  list-style: none;
}

#ajuda-container li {
  margin: 20px;
}

/*  */
.count-image {
  display: flex;
}

.count-image #background-image {
  width: 20px;
}
/* tava tentando fazer o quadrado com a imagem por tras */

/* Contato */
.contacts-container {
  background-color: #fff;
  margin: 10px;
}

/* footer */
footer {
  background-color: #d7d7d7;
  text-align: center;
  height: 100px;
}
